@model List<ResultServiceDto>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Hizmetler</span>
                <h2 class="mb-3">Yenilikçi Hizmetlerimiz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Düğün Töreni</h3>
                        <p>Özel günlerinizde unutulmaz bir sürüş deneyimi. Özel araçlarımızla unutulmaz bir düğün konvoyu için buradayız.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa-solid fa-city"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Şehir İçi Transfer</h3>
                        <p>Şehir içinde konforlu, rahat ve güvenli transferler için yanınızdayız. Hızlı ve konforlu bir yolculuk için sizinle birlikteyiz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa-solid fa-plane-departure"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Havalimanı Transferi</h3>
                        <p>Havalimanı ulaşımınızı kolaylaştırın. Konforlu araçlarımızla sorunsuz bir transfer deneyimi yaşayın.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa-solid fa-route"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Şehir Turu</h3>
                        <p>Şehrinizi keşfedin ve unutulmaz anılara tanıklık edin. Uzman rehberler eşliğinde keyifli bir şehir turu için bize katılın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
